
body {
    background: #701234;
    font-family: Arial;
}
h1 {
    color: red;
}
/* KHfqBHUOiaAksft8yuqX4xIiB3eDd3Iw62l2EcgrssdEEcXkBWbyN23VPamZO5tyUwuHr98TKlRywkhgu6pxz3xZKePsynVRjC9g2tdwPNqpTQdqYnIqqdJo12LfHU6SNJllbWQTymK6oOUoZ8nZ8EPbZMND0pOJDLRPbKzXR5c1gCEIwGtS7hpBFWOW9LOsJGpnsQQn */
